            body {
                padding: 0px;
                margin: 0px;
                background-color: #ebf1fa;
                text-align: center;
                height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .login-container {
                display: flex;
                border: 1px solid #f5f5ef;
                width: 900px;
                height:500px;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }
            .login-left {
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: #f2f2f2;
                text-align: center;
            }
            .login-right {
                width: 100%;
                background-image: url('cover.png');
                background-size: cover;
                background-position: center;
            }
            .login-title {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            .login-input {
                width: 100%;
                margin-bottom: 10px;
            }
            .login-button {
                width: 100%;
            }
            .icon-input {
                display: flex;
                align-items: center;
            }
            .icon-input i {
                margin-right: 10px;
            }
        
